@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using LongShop3.Models
    @model List<ProductDetail>
    @using LongShop3.Services.IServices;
    @inject ICateServices cate;
    @inject IBrandService brands;
    var listcate = cate.GetAllCateForAdmin();
    var listbrand = brands.GetBrandsForAdmin();

}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Admin Dashboard - Long Shop</title>

    <!-- Custom fonts for this template-->
    <link href="~/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
          rel="stylesheet">

    <!-- Custom styles for this template-->
    <link href="~/css/sb-admin-2.min.css" rel="stylesheet">

    <style>
        body {
            font-family: Arial, sans-serif;
        }

        table {
            width: 100%;
            border-collapse: collapse;
            margin: 20px auto;
        }

        th, td {
            border: 1px solid #ddd;
            padding: 8px;
            text-align: left;
            color: black;
        }

        th {
            background-color: darkblue;
            color: white;
        }

        tr:nth-child(even) {
            background-color: #f2f2f2;
        }

        tr:hover {
            background-color: #ddd;
        }

        .pagination {
            display: flex;
            justify-content: center;
            padding: 20px;
        }

            .pagination a {
                color: black;
                float: left;
                padding: 8px 16px;
                text-decoration: none;
                transition: background-color .3s;
            }

                .pagination a.active {
                    background-color: #04AA6D;
                    color: white;
                    border-radius: 5px;
                }

                .pagination a:hover:not(.active) {
                    background-color: #ddd;
                }

                .pagination a:first-child {
                    border-top-left-radius: 5px;
                    border-bottom-left-radius: 5px;
                }

                .pagination a:last-child {
                    border-top-right-radius: 5px;
                    border-bottom-right-radius: 5px;
                }

        .form-group {
            display: flex;
            align-items: center;
            margin-right: 300px;
        }

        .form-control {
            margin-right: 20px;
            flex: 1;
        }

        .search-box {
            flex: 2;
        }

        .form-group > * {
            margin-bottom: 0;
        }
    </style>

</head>

<body id="page-top">

    <!-- Page Wrapper -->
    <div id="wrapper">

        <!-- Sidebar -->
        <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

            <!-- Sidebar - Brand -->
            <a class="sidebar-brand d-flex align-items-center justify-content-center" href="index.html">
                <div class="sidebar-brand-icon rotate-n-15">
                    <i class="fas fa-laugh-wink"></i>
                </div>
                <div class="sidebar-brand-text mx-3">Admin Dashboard <sup></sup></div>
            </a>

            <!-- Divider -->
            <hr class="sidebar-divider my-0">

            <!-- Nav Item - Dashboard -->
            <li class="nav-item">
                <a class="nav-link" href="/home">
                    <i class="fas fa-fw fa-tachometer-alt"></i>
                    <span>Home Page</span>
                </a>
            </li>

            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <!--<div class="sidebar-heading">
                Interface
            </div>-->
            <!-- Nav Item - Pages Collapse Menu -->
            <!--<li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
                   aria-expanded="true" aria-controls="collapseTwo">
                    <i class="fas fa-fw fa-cog"></i>
                    <span>Components</span>
                </a>
                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Components:</h6>
                        <a class="collapse-item" href="buttons.html">Buttons</a>
                        <a class="collapse-item" href="cards.html">Cards</a>
                    </div>
                </div>
            </li>-->
            <!-- Nav Item - Utilities Collapse Menu -->
            <!--<li class="nav-item">
                <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities"
                   aria-expanded="true" aria-controls="collapseUtilities">
                    <i class="fas fa-fw fa-wrench"></i>
                    <span>Utilities</span>
                </a>
                <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Custom Utilities:</h6>
                        <a class="collapse-item" href="utilities-color.html">Colors</a>
                        <a class="collapse-item" href="utilities-border.html">Borders</a>
                        <a class="collapse-item" href="utilities-animation.html">Animations</a>
                        <a class="collapse-item" href="utilities-other.html">Other</a>
                    </div>
                </div>
            </li>-->
            <!-- Divider -->
            <hr class="sidebar-divider">

            <!-- Heading -->
            <div class="sidebar-heading">
                Addons
            </div>

            <!-- Nav Item - Pages Collapse Menu -->
            <li class="nav-item active">
                <a class="nav-link" href="#" data-toggle="collapse" data-target="#collapsePages" aria-expanded="true"
                   aria-controls="collapsePages">
                    <i class="fas fa-fw fa-folder"></i>
                    <span>Manage</span>
                </a>
                <div id="collapsePages" class="collapse show" aria-labelledby="headingPages"
                     data-parent="#accordionSidebar">
                    <div class="bg-white py-2 collapse-inner rounded">
                        <h6 class="collapse-header">Login Screens:</h6>
                        <a class="collapse-item" href="manageproduct">Manage Product</a>
                        <a class="collapse-item" href="managebrands">Manage Brands</a>
                        <a class="collapse-item" href="managecate">Manage Categories</a>
                        <a class="collapse-item" href="manageuser">Manage User</a>
                        <a class="collapse-item" href="manageorder">Manage Order</a>
                        <!--<div class="collapse-divider"></div>
                        <h6 class="collapse-header">Other Pages:</h6>
                        <a class="collapse-item" href="404.html">404 Page</a>
                        <a class="collapse-item active" href="blank.html">Blank Page</a>-->
                    </div>
                </div>
            </li>

            <!-- Nav Item - Charts -->
            <!-- Nav Item - Tables -->
            <!-- Divider -->
            <hr class="sidebar-divider d-none d-md-block">

            <!-- Sidebar Toggler (Sidebar) -->
            <!--<div class="text-center d-none d-md-inline">
                <button class="rounded-circle border-0" id="sidebarToggle"></button>
            </div>-->

        </ul>
        <!-- End of Sidebar -->
        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">

            <!-- Main Content -->
            <div id="content">

                <!-- Topbar -->
                <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

                    <!-- Sidebar Toggle (Topbar) -->
                    <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
                        <i class="fa fa-bars"></i>
                    </button>

                    <!-- Topbar Search -->
                    <form class="d-none d-sm-inline-block form-inline mr-auto ml-md-3 my-2 my-md-0 mw-100 navbar-search">
                        <div class="input-group">
                            <input type="text" class="form-control bg-light border-0 small" placeholder="Search for..."
                                   aria-label="Search" aria-describedby="basic-addon2">
                            <div class="input-group-append">
                                <button class="btn btn-primary" type="button">
                                    <i class="fas fa-search fa-sm"></i>
                                </button>
                            </div>
                        </div>
                    </form>

                    <!-- Topbar Navbar -->

                </nav>
                <!-- End of Topbar -->
                <!-- Begin Page Content -->
                <div class="container-fluid">

                    <!-- Page Heading -->
                    <h1 class="h3 mb-4 text-gray-800">Admin Name : @ViewBag.Username + Manage Product</h1>
                    <h5><a href="#">Create new product</a></h5>
                    <form action="manageproduct">
                        <div class="form-group">
                            <!-- Thẻ select thứ nhất -->
                            <div class="form-control">
                                <select name="CategoryId" id="categorySelect">
                                    <option value="0">All Categories</option>
                                    @foreach (var c in listcate)
                                    {
                                        <option value="@c.CategoryId" @(c.CategoryId == ViewBag.CategoryId ? "selected" : "")>@c.CategoryName</option>
                                    }
                                </select>
                            </div>

                            <!-- Thẻ select thứ hai -->
                            <div class="form-control">
                                <select name="BrandId" id="brandSelect">
                                    <option value="0">All Brands</option>
                                    @foreach (var b in listbrand)
                                    {
                                        <option value="@b.BrandId" @(b.BrandId == ViewBag.BrandId ? "selected" : "")>@b.BrandName</option>
                                    }
                                </select>
                            </div>

                            <!-- Bộ hai checkbox -->
                            <div class="form-control">
                                <label>
                                    <input value="asc" type="radio" name="sort" @("asc".Equals(ViewBag.Sort) ? "checked" : "")> ASC
                                </label>
                                <label>
                                    <input value="desc" type="radio" name="sort" @("desc".Equals(ViewBag.Sort) ? "checked" : "")> DESC
                                </label>
                            </div>
                            <div style="margin-right:50px" class="form-control">
                                <label>
                                    <input type="radio" name="status" value="true" @("true".Equals(ViewBag.Status) ? "checked" : "")> Active
                                </label>
                                <label>
                                    <input type="radio" name="status" value="false" @("false".Equals(ViewBag.Status) ? "checked" : "")> Not Active
                                </label>
                            </div>
                            <button type="submit">Filter product</button> <br />
                        </div>
                    </form>
                    <!-- Search Box -->
                    <form action="searchbyname_admin">
                        <div class="search-box">
                            <input type="text" name="name" id="searchInput" placeholder="Search by name...">
                            <button type="submit">Search</button>
                        </div>
                    </form>
                    <table>
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Product Name</th>
                                <th>Price</th>
                                <th>Is Active</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var p in Model)
                            {
                                <tr>
                                    <td>@p.ProductDetailId</td>
                                    <td>@p.ProductName</td>
                                    <td>$@p.Price</td>
                                    <td>@(p.IsActive == true ? "Active" : "Not Active")</td>
                                    <td><a href="">Detail</a> | <a href="">Edit</a></td>
                                </tr>
                            }
                            <!-- Thêm các hàng cho các sản phẩm khác ở đây -->
                        </tbody>
                    </table>
                    <div class="pagination">
                        @for (int i = 1; i <= ViewBag.totalpage; i++)
                        {
                            <a class="@(i == ViewBag.currentpage ? "active" : "")" href="manageproduct?CategoryId=@ViewBag.CategoryId&BrandId=@ViewBag.BrandId&sort=@ViewBag.Sort&status=@ViewBag.Status&page=@i">@i</a>
                        }
                    </div>

                </div>
                <!-- /.container-fluid -->

            </div>
            <!-- End of Main Content -->
            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Copyright &copy; Your Website 2020</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->

        </div>
        <!-- End of Content Wrapper -->

    </div>
    <!-- End of Page Wrapper -->
    <!-- Scroll to Top Button-->
    <a class="scroll-to-top rounded" href="#page-top">
        <i class="fas fa-angle-up"></i>
    </a>

    <!-- Bootstrap core JavaScript-->
    <script src="~/js/jquery-1.11.0.min.js"></script>
    <script src="~/js/bootstrap.bundle.min.js"></script>

    <!-- Core plugin JavaScript-->
    <script src="~/js/jquery.easing.min.js"></script>

    <!-- Custom scripts for all pages-->
    <script src="~/js/sb-admin-2.min.js"></script>

</body>

</html>
