@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    @using LongShop3.Models
    @model List<OrderDetail>

}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order History</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="style.css">
</head>
<body>
    @Html.Partial("~/Views/Navbar.cshtml")
    <div class="container mt-5">
        <h2 class="mb-4">Order Detail History</h2>
        <h5>Shiping : $10</h5>
        <table style="margin-bottom:300px" class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">#OrderDetail ID</th>
                    <th scope="col">Product Name</th>
                    <th scope="col">Color</th>
                    <th scope="col">Size</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Total Unit price</th>
                </tr>
            </thead>
            <tbody id="orderHistoryBody">
                @foreach (var o in Model)
                {
                    <tr>
                        <td scope="col">@o.OrderdetailId</td>
                        <td scope="col">@o.Common.ProductDetail.ProductName</td>
                        <td scope="col">@o.Common.Color.ColorName</td>
                        <td scope="col">@o.Common.Size.SizeName</td>
                        <td scope="col">@o.Amount</td>
                        <td scope="col">@((double)o.Amount * o.Common.ProductDetail.Price)</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    @Html.Partial("~/Views/footer.cshtml")
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="script.js"></script>
</body>
</html>
